.venv
.env


logs/

screenshots/

test_results

__pycache__/
*.pyc

projects_db.json

__pycache__
*.pyc
*.pyo
*.pyd
.Python
build/
generated_cases/
dist/
lighthouse_reports/
bulk_lighthouse_reports/
node_modules/